@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;

400;700&display=swap);:root {
  --primary-color: #fff;
  --secondary-color: #0282f9;
  --third-color: #1c1c1c;
  --menu-color: #464646;
  --footer-text-color: #959595;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header__top {
  height: 50px;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: right;
  align-items: center;
}

.left_text {
  margin-right: 20px;
}

.left_text,
.right_text {
  color: #fff;
}

.menu {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.navigation ul {
  display: flex;
  list-style-type: none;
  width: 1000px;
  justify-content: space-between;
}

.navigation ul li a {
  text-decoration: none;
  color: var(--menu-color);
  font-size: 22px;
  font-weight: 700;
}

.container {
  width: 1200px;
  height: auto;
}

.main {
  width: 100%;
  height: auto;
  background-color: #1c1c1c;
  position: relative;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.main::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 500px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-size: cover;
  background-repeat: no-repeat;
}

.main__content {
  width: 100%;
  height: auto;
  padding-top: 550px;
}

.main__content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.main__content ul li {
  width: 250px;
  text-align: center;
  padding: 20px;
}

.title__comics {
  color: var(--primary-color);
}

